# Java / Maven / Gradle
target/
build/
.gradle/
*.class
*.log

# Node / Angular
node_modules/
dist/
.angular/

# IDEs
.idea/
.vscode/
*.iml

# Sistema operativo
.DS_Store
Thumbs.db

# Secretos y configuración real 
.env
.env.*
!.env.example
*.pem

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars